body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 20px auto;
    padding: 70px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 800px;
    box-sizing: border-box;
}

header {
    background-color:#758694;/*:#008DDA;*/
    padding: 20px;
    margin-left: -70px; /* Counteract the body's padding */
    margin-right: -70px; /* Counteract the body's padding */
}
/* Styling for footer */
footer {
    text-align: center;
    padding: 10px;
    color: #555;
    width: 100%;
    margin-top: auto; /* Push to bottom */
}
#farida-img {
    float: left;
    margin-left: 50px;
    border-radius: 50%;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 48px;
    margin: 15px;
    margin-top: 30px;
    color:#FFF8F3
}

h2 {
    margin: 20px;
    font-size: 30px;
    color:#FFF8F3

}
h3{
    font-size: 25px;
    color:white;
    background-color: #758694;
    display: inline-block;
    padding: 8px 12px; /* Adjust padding as needed for spacing around text */
    border-radius: 40px; /* Optional: Adds rounded corners */
}
.first h3{
    background-color: #253A4D;
    outline: 2px solid black; /* Adjust the width (2px) and color (black) as needed */

}
main{
    display: flex;
    flex-direction: row ;
}
.second
{
    order:1;
}
.first {
    margin-right: 30px;
    background-color: #253A4D;
    color: #F7EEDD;
    padding: 15px;    
}
.contact ul{
    list-style-type: none;
    padding: 0;
}
.contact, .skills, .languages, .second {
     width: 100%; /* Ensure it takes full width of its container */
}
.contact ul li {
    display: flex; /* Use flexbox for icon and text alignment */
    align-items: center; /* Center items vertically */
    margin-bottom: 10px; /* Adjust margin between list items */
}
.contact ul li .icon {
    margin-right: 10px; /* Add spacing between icon and text */
}
